@font-face {
    font-family: 'SpaceMono';
    src: url("../fonts/SpaceMono-Regular.woff2") format('woff2');
    font-weight: normal;
} /* Importando fonte Space-Mono Regular*/

@font-face {
    font-family: 'SpaceMono';
    src: url("../fonts/SpaceMono-Bold.woff2") format('woff2');
    font-weight: bold;
} /* Importando fonte Space-Mono Bold*/

@font-face {
    font-family: 'LeagueSpartan';
    src: url("../fonts/LeagueSpartan-Light.woff2") format('woff2');
    font-weight: normal;
} /* Importando fonte League Spartan Regular */

@font-face {
    font-family: 'LeagueSpartan';
    src: url("../fonts/LeagueSpartan-Bold.woff2") format('woff2');
    font-weight: bold;
} /* Importando fonte League Spartan Bold */