// FOOTER

.footer {
    .container{
        min-height: 50px;

        .wrap{
            padding: 20px;
            font-family: 'LeagueSpartan';
            color: $light-color;
            font-size: 25px;
        }

    }
}