html, body, * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'SpaceMono';
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: normal;
}

/* Importando fonte Space-Mono Regular*/
@font-face {
  font-family: 'SpaceMono';
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2");
  font-weight: bold;
}

/* Importando fonte Space-Mono Bold*/
@font-face {
  font-family: 'LeagueSpartan';
  src: url("../fonts/LeagueSpartan-Light.woff2") format("woff2");
  font-weight: normal;
}

/* Importando fonte League Spartan Regular */
@font-face {
  font-family: 'LeagueSpartan';
  src: url("../fonts/LeagueSpartan-Bold.woff2") format("woff2");
  font-weight: bold;
}

/* Importando fonte League Spartan Bold */
.divider-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.divider-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.divider-wave .shape-fill {
  fill: #e0e0e0;
}

.divider-wave-opacity {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.divider-wave-opacity svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.divider-wave-opacity .shape-fill {
  fill: #212121;
}

.divider-triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider-triangle svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.divider-triangle .shape-fill {
  fill: #e0e0e0;
}

.divider-book {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.divider-book svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.divider-book .shape-fill {
  fill: #212121;
}

.section {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
}

.container {
  min-height: 800px;
  max-width: 1140px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  width: 100%;
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  background-color: #212121;
  font-family: 'SpaceMono', monospace;
  font-weight: normal;
}

.memphis {
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 30px;
  }
}

@media (max-width: 765px) {
  .container {
    max-width: 765px;
    padding: 0 20px;
  }
}

.header {
  padding-top: 100px;
  background-image: url("../img/bg/bg-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header .row .column {
  width: 50%;
}

.header .row .text-content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .row .text-content h1 {
  font-family: 'LeagueSpartan', sans-serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
  color: #e0e0e0;
}

.header .row .text-content p {
  font-family: 'SpaceMono', monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #e0e0e0;
  width: 515px;
}

.header .row .text-content .m1 {
  top: 30px;
  left: 50px;
}

.header .row .text-content .m2 {
  bottom: 60px;
  right: 140px;
}

.header .row .image-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .row .image-content .perfil {
  width: 455px;
  height: 455px;
  border: #00695c 5px solid;
  border-radius: 50%;
}

.header .row .image-content .m3 {
  top: -15px;
  left: 90px;
}

.dados-pessoais {
  padding-top: 100px;
}

.dados-pessoais .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dados-pessoais .container .row {
  padding-top: 50px;
}

.dados-pessoais .container .wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dados-pessoais .container .wrap img {
  position: absolute;
  top: 20px;
  left: -30px;
}

.dados-pessoais .container .wrap h1.title {
  font-family: 'LeagueSpartan', sans-serif;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
  color: #e0e0e0;
}

.dados-pessoais .container .wrap h2.subtitle {
  font-family: 'LeagueSpartan', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  color: #e0e0e0;
  margin-bottom: 30px;
}

.dados-pessoais .container .wrap p.description {
  font-family: 'SpaceMono', monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #e0e0e0;
}

.dados-pessoais .container .wrap p.description span {
  font-weight: bold;
}

.historico-academico {
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #e0e0e0;
  color: #212121;
}

.historico-academico .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.historico-academico .container .row {
  padding-top: 60px;
}

.historico-academico .container .wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.historico-academico .container .wrap img {
  position: absolute;
  top: 20px;
  left: -30px;
}

.historico-academico .container .wrap h1.title {
  font-family: 'LeagueSpartan', sans-serif;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
}

.historico-academico .container .wrap h2.subtitle {
  font-family: 'LeagueSpartan', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 30px;
}

.historico-academico .container .wrap p.description {
  font-family: 'SpaceMono', monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.historico-academico .container .wrap p.description span {
  font-weight: bold;
}

.historico-academico .container .wrap li {
  padding-bottom: 1em;
  font-family: 'SpaceMono', monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.cursos-extras {
  padding-top: 100px;
  padding-bottom: 200px;
  color: #e0e0e0;
}

.cursos-extras .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cursos-extras .container .row {
  padding-top: 60px;
}

.cursos-extras .container .wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cursos-extras .container .wrap img {
  position: absolute;
  top: 20px;
  left: -30px;
}

.cursos-extras .container .wrap h1.title {
  font-family: 'LeagueSpartan', sans-serif;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
}

.cursos-extras .container .wrap h2.subtitle {
  font-family: 'LeagueSpartan', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 30px;
}

.cursos-extras .container .wrap p.description {
  font-family: 'SpaceMono', monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.cursos-extras .container .wrap p.description span {
  font-weight: bold;
}

.cursos-extras .container .wrap li {
  padding-bottom: 1em;
  font-family: 'SpaceMono', monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.contato {
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #e0e0e0;
  color: #212121;
}

.contato .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contato .container .row {
  padding-top: 60px;
}

.contato .container .row.social {
  padding-top: 0px;
}

.contato .container .wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contato .container .wrap img {
  position: absolute;
  top: 20px;
  left: -30px;
}

.contato .container .wrap h1.title {
  font-family: 'LeagueSpartan', sans-serif;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
}

.contato .container .wrap h2.subtitle {
  font-family: 'LeagueSpartan', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 30px;
}

.contato .container .wrap p.description {
  font-family: 'SpaceMono', monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.contato .container .wrap p.description span {
  font-weight: bold;
}

.contato .container .wrap li {
  padding-bottom: 1em;
  font-family: 'SpaceMono', monospace;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.my-menu {
  z-index: 10;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.my-menu .menu-sticky {
  min-height: 130px;
  -webkit-transition: min-height 1s ease;
  transition: min-height 1s ease;
}

.my-menu .menu-sticky .row .col-15 {
  width: 15%;
}

.my-menu .menu-sticky .row .col-40 {
  width: 40%;
}

.my-menu .menu-sticky .row .col-85 {
  width: 85%;
}

.my-menu .menu-sticky .row .menu-items {
  font-family: 'LeagueSpartan';
  color: #e0e0e0;
  font-size: 25px;
  line-height: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-menu .menu-sticky .row .menu-items ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.my-menu .menu-sticky .row .menu-items ul li {
  cursor: pointer;
}

.my-menu .menu-sticky .row .menu-items ul li a {
  text-decoration: none;
  font-family: 'LeagueSpartan';
  color: #e0e0e0;
  font-size: 25px;
  line-height: 30px;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.my-menu .menu-sticky .row .menu-items ul li a:hover {
  color: #adadad;
}

.my-menu .menu-sticky .row .menu-buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.my-menu .menu-sticky .row .menu-buttons .button {
  text-decoration: none;
  list-style: none;
  border-radius: 30px;
  padding: 5px;
  border: solid #00695c 2px;
  margin: 10px;
  cursor: pointer;
  min-width: 190px;
  text-align: center;
  font-family: 'LeagueSpartan';
  color: #e0e0e0;
  font-size: 18px;
}

.my-menu.blured {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.my-menu.blured .menu-sticky {
  min-height: 110px;
}

.footer .container {
  min-height: 50px;
}

.footer .container .wrap {
  padding: 20px;
  font-family: 'LeagueSpartan';
  color: #e0e0e0;
  font-size: 25px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #00695c;
}

::-webkit-scrollbar-thumb:hover {
  background: #004d40;
}

::-webkit-scrollbar-track {
  background: #212121;
}

.back-to-top-link {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

.back-to-top-link img {
  width: 75%;
}

.back-to-top-link:hover, .back-to-top-link:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body {
  background-color: #212121;
  font-family: 'SpaceMono', monospace;
  font-weight: normal;
}

.memphis {
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1024px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 765px) {
  .column {
    width: 100%;
  }
}
/*# sourceMappingURL=portifolios.css.map */