@import 'reset';
@import 'colors';
@import 'fonts';
@import 'my-dividers';
@import 'my-styles';
@import 'portifolios';

@import 'menu';
@import 'footer';

@import 'scroll';

body{
    background-color: $dark-color;

    font-family: 'SpaceMono', monospace;
    font-weight: normal;
}

.memphis{
    position: absolute;
    transition: all 0.5s ease;
}

// APLICANDO RESPONSIVIDADE
// TABLETS
@media (max-width:1024px) {
    .column {
        width: 100%;
    }
}

// CELULARES
@media (max-width:765px)  {
    .column {
        width: 100%;
    }
}